@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Spectral&display=swap');

/* CSS Variable */
:root {
    --dark-color: #440047;
    --light-color: #fff;
    --border-color: #e11d74;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--dark-color);
    background-color: var(--light-color);
    height: 100%;
    overflow-x: hidden;
}

section {
    width: 100vw;
}

h1,
h2,
h3,
h4 {
    font-family: 'Heebo', serif;
    ;
}

p {
    font-family: 'Heebo', sans-serif;
}

span {
    display: inline-block;
}

a {
    color: var(--border-color)
}

.fas {
    padding-bottom: 0.4rem;
    /* color: var(--border-color); */
}

.container {
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-grey {
    background-color: #f4f4f4;
}

.bg-light {
    background-color: var(--light-color);
}

.bg-light-grey {
    background-color: #f5f6fa;
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background: var(--border-color);
    display: block;
    margin: 0 auto;
}

.bottom-line-dark {
    height: 2px;
    width: 3rem;
    background: #111;
    display: block;
    margin: 0 auto;
}

.ls-header {
    height: 100vh;
    display: flex;
    align-items: center;
}

.ls-header-showcase {
    position: absolute;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
}

.ls-header-showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
}



video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}

.ls-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.6);
}

.ls-header-text {
    position: relative;
    z-index: 10;
}

.header-span {
    color: var(--border-color);
}

.header-svg {
    filter: invert(100%) sepia(28%) saturate(2871%) hue-rotate(272deg) brightness(124%) contrast(85%);
    height: 1.5em;
    padding: 0 5px;
}

.header-svg:hover {
    filter: invert(85%) sepia(53%) saturate(6608%) hue-rotate(355deg) brightness(101%) contrast(111%);
}

.ls-header-content {
    color: var(--light-color);
    font-size: 1.4rem;
    z-index: 2;
    margin: 0 auto;
}

.ls-header-content h1 {
    margin-bottom: 1rem;
}

/* Mouse scroll */

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}

.icon-scroll {
    width: 35px;
    height: 60px;
    bottom: 30px;
    box-shadow: inset 0 0 0 1px var(--border-color);
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--border-color);
    margin-left: -4px;
    top: 4px;
    border-radius: 4px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(46px)
    }
}

.ls-banner {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--dark-color);
    color: var(--light-color);
    width: 100vw;
}

.ls-about {
    background-color: #f5f6fa;
    font-size: 1.2rem;
}

.ls-interest p {
    margin-top: 1rem;
}

.ls-interest i:hover {
    transform: translateY(-4px);
    transition: 0.3s;
  }

.ls-portfolio {
    min-height: 100%;
    width: 100vw;
    background-color: var(--light-color);
}

.card {
    margin: 0 auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}


.card-body {
    font-size: 1.2rem;
    color: var(--dark-color);
}

.card-text {
    height: 160px;
}

.portfolio-svg {
    filter: invert(36%) sepia(14%) saturate(566%) hue-rotate(167deg) brightness(87%) contrast(83%);
    height: 1.5em;
    padding: 0 5px;
}

.portfolio-svg:hover {
    filter: invert(0%) sepia(16%) saturate(5539%) hue-rotate(12deg) brightness(79%) contrast(87%);
    height: 1.5em;
    padding: 0 5px;
}


ul li {
    list-style: none;
}

.fab {
    margin: 5px;
    color: #4f5b66;
}

button.resume-click-control {
    font-size: 1.5rem;
    color: #333;
    width: 100%;
}

.btn-link:hover {
    color: #000 !important;
    text-decoration: none !important;
}

.card-body ul {
    padding: 0 !important;
}

#svg {
    position: absolute;
    height: 20vh;
    width: 20vw;
    top: -40px;
    left: 165px;
    pointer-events: none;
}

footer {
    width: 100vw;
}

/* Media Query */

@media(max-width:350px) {
    .ls-header h1 {
        font-size: 2rem;
    }

    .ls-header h2 {
        font-size: 1.5rem;
    }

    .ls-header p {
        font-size: 1rem;
    }

    .ls-about h2 {
        font-size: 1.5rem;
    }

    .ls-about p {
        font-size: 1rem;
    }

    .ls-about-text {
        padding: 0 !important;
    }

    .ls-counter div {
        padding: 5px !important;
    }
}

@media(max-width:365px) {
    button.resume-click-control {
        font-size: 1rem;
    }
}

@media(max-width:360px) {
    .ls-logo-list i {
        font-size: 2em !important;
    }

    .card-body {
        font-size: .75rem !important;
    }

    .ls-contact i {
        font-size: 2em;
    }
}

@media(max-width:412px) {
    body {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }

    .ls-about-text p {
        font-size: 1rem;
        line-height: 1.3em;
    }

    .ls-about-profile-holder img {
        height: 225px;
    }

    .card-text {
        text-align: left;
        height: inherit !important;
        /* font-size: 18px; */
    }
}

@media(max-width:468px) {
    .ls-logo-list i {
        font-size: 3em;
    }

    p.header-text {
        line-height: 1.5rem;
    }

    .ls-header-h1 {
        font-size: 2rem;
    }

    .ls-header-h2 {
        font-size: 1.5rem;
    }
}

@media(max-width: 576px) {
    #svg {
        display: none
    }
}

@media(max-width:768px) {
    .ls-header {
        text-align: left;
    }

    .card {
        margin: 0 auto;
    }
}

@media(max-width:780px) {
    .ls-porfolio-holder {
        height: 382px !important;
    }

    .ls-about-desc {
        text-align: left !important;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1rem !important;
    }

    .ls-about img {
        padding-right: 10px;
        padding-left: 10px;
    }

    .ls-contact ul {
        padding-left: 0;
    }

    .ls-header-content {
        font-size: 20px;
        line-height: 0.8;
        letter-spacing: 1.5px;
    }

    .ls-counter div {
        padding: 10px;
    }

    .btn-dark {
        margin-top: 20px;
    }
}

@media(max-width:960px) {
    .ls-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .ls-services-text {
        text-align: center;
    }

    .ls-services-list img {
        width: 150px !important;
        height: 150px !important;
    }
}

@media(max-width: 1010px) {
    .card-body {
        font-size: 1rem;
    }
}

@media(max-width:1000px) {
    .ls-about-profile-holder img {
        max-width: 80%;
        margin: 0px auto;
    }

    .ls-about-bio h4 {
        text-align: center;
    }

    .ls-portfolio-products {
        text-align: center;
    }

    .ls-porfolio-holder {
        margin: 0px auto;
    }

    #return-to-top {
        display: none !important;
    }
}

/* Scroll up animation */

#scroll-to-top {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#scroll-to-top i {
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 12px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#scroll-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#scroll-to-top:hover i {
    color: #fff;
    top: 5px;
}


#about {
    margin-top: 25px;
    margin-bottom: 15px;
}

#photo {
    padding: 15px;
}

#resume-btn {
    margin: auto;
}

#github {
    height : 200%;
}

.col-md-8 {
    margin-top: 20px;
}

#skill {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btngithub {
    text-align: center;
    margin-top: 30px;
}